<h2 class="section-title">Education</h2>

<div class="section-content">
  <div th-accordion>
    <div th-accordion-section>
      <div th-accordion-header>
        <span>2010-2013:&nbsp;</span><span class="degree">Master in Fine Arts</span>
      </div>
      <div th-accordion-content>
        <p><a href="http://www.aalto.fi/en/about/ranking/">Aalto University</a> - Helsinki, Finland</p>
        <p>Major in environmental art. Graduated without outstanding results.</p>
      </div>
    </div>

    <div th-accordion-section>
      <div th-accordion-header>
        <span>2005-2008:&nbsp;</span><span class="degree">Master in Political Science</span>
      </div>
      <div th-accordion-content>
        <p><a href="https://www.helsinki.fi/en/university/the-university-of-helsinki-in-brief">University of
          Helsinki</a> - Helsinki, Finland</p>
        <p>Major in public administation. Master thesis written for member of European Parliament Satu Hassi on lobbying practices in EU politics.</p>
      </div>
    </div>

    <div th-accordion-section>
      <div th-accordion-header>
        <span>2001-2005:&nbsp;</span><span class="degree">Master in Economics</span>
      </div>
      <div th-accordion-content>
        <p><a href="http://www.iep-strasbourg.fr/en/">Sciences Po Strasbourg</a> - Strasbourg, France</p>
        <p>Major in economics. Master thesis on the Finnish innovation system.</p>
      </div>
    </div>
  </div>
</div>
