<h2 class="section-title" l18n>EDUCATION_TITLE</h2>

<div class="section-content">
  <div th-accordion>
    <div th-accordion-section>
      <div th-accordion-header>
        <span>2010-2013:&nbsp;</span><span class="degree" l18n>MFA_TITLE</span>
      </div>
      <div th-accordion-content>
        <p><a href="http://www.aalto.fi/en/about/ranking/">Aalto University</a> - <span l18n>HKI_FI</span></p>
        <p l18n>MFA_DESC</p>
      </div>
    </div>

    <div th-accordion-section>
      <div th-accordion-header>
        <span>2005-2008:&nbsp;</span><span class="degree" l18n>MA_TITLE</span>
      </div>
      <div th-accordion-content>
        <p><a href="https://www.helsinki.fi/en/university/the-university-of-helsinki-in-brief">University of
          Helsinki</a> - <span l18n>HKI_FI</span></p>
        <p l18n>MA_DESC</p>
      </div>
    </div>

    <div th-accordion-section>
      <div th-accordion-header>
        <span>2001-2005:&nbsp;</span><span class="degree" l18n>ME_TITLE</span>
      </div>
      <div th-accordion-content>
        <p><a href="http://www.iep-strasbourg.fr/en/">Sciences Po Strasbourg</a> - Strasbourg, France</p>
        <p l18n>ME_DESC</p>
      </div>
    </div>
  </div>
</div>
