<div class="education">
  <h2 class="education-title">
    Education
  </h2>
  <div th-accordion>
    <div th-accordion-header>
      <h3>Master in Fine Arts</h3>
      <p>2010-2013</p>
    </div>
    <div th-accordion-content>
      <p>Aalto University - Helsinki, Finland</p>
      <p>Major in environmental art. Graduated without outstanding results.</p>
    </div>

    <div th-accordion-header>
      <h3>Master in Political Science</h3>
      <p>2005-2008</p>
    </div>
    <div th-accordion-content>
      <p>University of Helsinki - Helsinki, Finland</p>
      <p>Major in public administation. Master thesis written for member of European Parliament Satu Hassi on lobbying practices in EU politics.</p>
    </div>

    <div th-accordion-header>
      <h3>Master in Economics</h3>
      <p>2001-2005</p>
    </div>
    <div th-accordion-content>
      <p>Institute of political studies - Strasbourg, France</p>
      <p>Major in economics. Master thesis on the Finnish innovation system.</p>
    </div>
  </div>
</div>