@import '../../styles/vars';

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;

  .menu-toggle {
    align-items: center;
    background: $emphasis-color;
    border-radius: 50%;
    bottom: 0;
    box-shadow: black 0 0 2px;
    color: $white;
    cursor: pointer;
    display: flex;
    height: $menu-bar-height;
    margin: 0.5rem;
    position: fixed;

    @include respond-to('large') {
      display: none;
    }
  }

  .menu-toggle-button {
    background: none;
    border: none;
    color: $white;
    cursor: pointer;
    padding: 0.5rem;
    width: 3rem;
    height: 3rem;
    font-size: 1.3rem;

    &:focus {
      outline: 0;
    }
  }

  .menu-container {
    background: $emphasis-color;
    box-sizing: border-box;
    color: $white;
    display: none;
    height: 100vh;
    justify-content: space-between;
    flex-direction: column;
    padding: 1rem 1rem 4rem;

    @include respond-to('medium') {
      padding: 2rem 2rem 4rem;
    }

    @include respond-to('large') {
      align-items: flex-start;
      background: transparent;
      position: fixed;
      display: flex;
      flex-wrap: nowrap;
      height: 100vh;
      justify-content: space-between;
      padding: 1rem 0;
      top: 0;
      width: 20rem;
    }
  }

  .menu-list {
    flex-direction: column;
    list-style: none;
    font-size: $font-large;
    margin: 0;
    padding: 2rem 0;
    text-align: center;

    @include respond-to('large') {
      align-items: flex-start;
      display: flex;
      flex-wrap: nowrap;
      font-size: $font-large;
      justify-content: center;
      margin-top: 0;
    }
  }

  .menu-item {
    cursor: pointer;
    font-weight: bold;
    padding: 0.5rem;

    @include respond-to('large') {
      background: $light-gray;
      margin: 0.2rem -0.2rem;
      transform: rotate(-3deg);
      min-width: 6rem;
    }

    &.active {
      background: $pink;
      color: $white;

      @include respond-to('large') {
        transition: all 0.2s;
        font-size: $font-x-large;
        display: inline-flex;
      }
    }
  }

  .contacts {
    padding: 0;

    a {
      color: $white;

      &:visited {
        color: $white;
      }
    }

    .container {
      flex-direction: column;
    }

    .down-link {
      text-align: center;
    }

    @include respond-to('large') {
      padding: 0 0 0 1rem;

      a {
        color: $emphasis-color;

        &:visited {
          color: $emphasis-color;
        }
      }

      .container {
        align-items: flex-start;
      }

      .down-link {
        text-align: left;
      }
    }
  }

  .source-link {
    text-align: center;

    a, a:visited {
      color: $white;
    }

    @include respond-to('large') {
      padding-left: 1rem;
      text-align: left;

      a {
        color: $emphasis-color;
      }
    }
  }

  // overlapping menu on mobile
  &.visible {
    .menu-container {
      display: flex;
    }

    .menu-toggle {
      box-shadow: none;
      border: 1px solid $white;
    }
  }

  // side menu with transitions on desktop
  @include respond-to('large') {
    .menu-list {
      transform: translateX(-110%);
      transition: transform 0.3s ease-out;
    }

    .contacts, .l18n, .source-link {
      opacity: 0;
      transition: opacity 0.3s ease-out;
    }
  }

  &.has-visible {
    @include respond-to('large') {
      .menu-list {
        transform: translateX(0);
      }

      .contacts, .l18n, .source-link {
        opacity: 1;
      }
    }
  }
}