@import '../../styles/vars';

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;

  .menu-toggle {
    align-items: center;
    background: $blue;
    border-radius: 50%;
    bottom: 0;
    box-shadow: black 0 0 2px;
    cursor: pointer;
    display: flex;
    height: $menu-bar-height;
    margin: 0.5rem;
    position: fixed;

    @include respond-to('large') {
      display: none;
    }
  }

  .menu-toggle-button {
    background: none;
    border: none;
    color: $white;
    cursor: pointer;
    padding: 0.5rem;

    &:focus {
      outline: 0;
    }
  }

  .menu-list {
    background: $blue;
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0.5rem 0;
    text-align: center;
    visibility: hidden;

    @include respond-to('large') {
      background: transparent;
      font-size: $font-large;
      position: fixed;
      top: 0;
      height: 100vh;
      justify-content: center;
      margin-top: 0;
    }
  }

  .menu-item {
    padding: 0.5rem;

    &.active {
      color: pink;

      @include respond-to('large') {
        transition: font-size 0.2s;
        font-size: $font-x-large;
        width: 12rem;
      }
    }
  }

  &.visible {
    .menu-list {
      visibility: visible;
    }
  }

  &.has-visible {
    @include respond-to('large') {
      .menu-list {
        visibility: visible;
      }
    }
  }
}