@import '../../styles/vars';

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;

  .menu-toggle {
    align-items: center;
    background: $emphasis-color;
    border-radius: 50%;
    bottom: 0;
    box-shadow: black 0 0 2px;
    color: $white;
    cursor: pointer;
    display: flex;
    height: $menu-bar-height;
    margin: 0.5rem;
    position: fixed;

    @include respond-to('large') {
      display: none;
    }
  }

  .menu-toggle-button {
    background: none;
    border: none;
    color: $white;
    cursor: pointer;
    padding: 0.5rem;

    &:focus {
      outline: 0;
    }
  }

  .menu-list {
    background: $emphasis-color;
    color: $white;
    display: none;
    flex-direction: column;
    height: 100vh;
    list-style: none;
    margin: 0;
    padding: 0.5rem 0;
    text-align: center;

    @include respond-to('large') {
      background: transparent;
      font-size: $font-large;
      position: fixed;
      top: 0;
      height: 100vh;
      justify-content: center;
      margin-top: 0;
    }
  }

  .menu-item {
    font-weight: bold;
    padding: 0.5rem;

    @include respond-to('large') {
      background: #eee;
      margin: 0.2rem -0.2rem;
      transform: rotate(-3deg);
      min-width: 6rem;
    }

    &.active {
      background: $pink;
      color: $white;

      @include respond-to('large') {
        transition: all 0.2s;
        font-size: $font-x-large;
        display: inline-flex;
      }
    }
  }

  &.visible {
    .menu-list {
      display: flex;
    }
  }

  &.has-visible {
    @include respond-to('large') {
      .menu-list {
        align-items: flex-start;
        display: flex;
        flex-wrap: nowrap;
      }
    }
  }
}