@import './vars';

body {
  background-color: $dark-gray;
  background-position-y: -165px;
  background-attachment: fixed;
  color: $font-default-color;
  font-family: Verdana;
  font-weight: 300;
  font-size: $font-small;
  line-height: $font-small*1.5;
  margin: 0;
  padding-bottom: 3rem;

  @include respond-to('medium'){
    font-size: $font-medium;
    line-height: $font-medium*1.5;
  }
}

h1 {
  font-size: $font-large;
  line-height: $font-large;
  margin: 0.5rem 0;

  @include respond-to('medium'){
    font-size: $font-x-large;
    line-height: $font-x-large;
    margin: 1rem 0;
  }
}

h2 {
  font-size: $font-medium;
  line-height: $font-medium;
  font-weight: 400;
  margin: 0.3rem 0;

  @include respond-to('medium'){
    font-size: $font-large;
    line-height: $font-large;
    margin: 0.8rem 0;
  }
}

a{
  cursor: pointer;
  text-decoration: underline;

  &:not(.light-a) {
    color: $font-link-color;

    &:active {
      color: $font-link-color-active;
    }

    &:visited {
      color: $font-link-color;
    }

  }
}