@import "../../styles/vars";

.section {
  padding: 0 0.5rem;

  @include respond-to('medium') {
    padding: 0 1rem;
  }
}

.section-content {
  border: 1px solid $pale-gray;
  padding: 0.5rem;

  @include respond-to('medium') {
    padding: 1rem;
  }

  @include respond-to('large') {
    margin-left: 20rem;
    box-shadow: 0px 5px 5px $light-gray;
    margin-right: 1rem;
  }
}

.section-title {
  background: $emphasis-color;
  color: $white;
  font-weight: bold;
  margin: 0 1rem;
  padding: 0.5rem;

  @include respond-to('medium') {
    padding: 1rem;
  }

  @include respond-to('large') {
    margin: 0 2rem 0 21rem;
  }
}