@import "../../styles/vars";

.section {
  display: flex;
  flex-direction: column;
  padding: 0 0.5rem;

  @include respond-to('medium') {
    padding: 0 1rem;
  }

  @include respond-to('large') {
    flex-direction: row;
  }
}

.section-title {
  @include respond-to('large') {
    //align-self: stretch;
    flex-shrink: 0;
    opacity: 0;
    //font-size: $font-x-large;
    //justify-content: center;
    //padding-top: 5rem;
    width: 20rem;

  }
}

.section-content {
}