@import "../../styles/vars";

.section {
  padding: 0 0.5rem;

  @include respond-to('medium') {
    padding: 0 1rem;
  }
}

.section-content, .section-title {
  padding: 0 0.5rem;

  @include respond-to('medium') {
    padding: 0 1rem;
  }

  @include respond-to('large') {
    margin-left: 20rem;
  }
}