
<h2 class="section-title" l18n>SKILLS_TITLE</h2>

<div class="section-content">
  <div class="skills-intro">
    <p l18n>SKILL_DESC</p>
  </div>

  <div class="skills-list"
       th-accordion>
    <!--ES6-->
    <div class="skills-list-elem"
         hearts="5"
         th-accordion-section>
      <div class="skill-list-header"
           th-accordion-header>
        <span class="text">ES6</span>
      </div>
      <div class="skill-list-content"
           th-accordion-content>
        <p l18n>SKILL_ES6</p>
        <p>
          <i class="icon-github"></i>
          <a target="_blank" href="https://github.com/tristanhamel/vue_trivia_game">
            <span>Vue Trivia Game</span></a>
        </p>
        <p>
          <i class="icon-github"></i>
          <a target="_blank" href="https://github.com/tristanhamel/fip-player">
            <span>FIP Player</span></a>
        </p>
      </div>
    </div>

    <!--REDUX-->
    <div class="skills-list-elem"
         hearts="5"
         th-accordion-section>
      <div class="skill-list-header"
           th-accordion-header>
        <span class="text">Redux</span>
      </div>
      <div class="skill-list-content"
           th-accordion-content>
        <p l18n>
          SKILL_REDUX
        </p>
        <p>
          <i class="icon-github"></i>
          <a target="_blank" href="https://github.com/tristanhamel/react-finance-app">
            <span>React Finance App</span></a>
        </p>
      </div>
    </div>

    <!--REACT-->
    <div class="skills-list-elem"
         hearts="5"
         th-accordion-section>
      <div class="skill-list-header"
           th-accordion-header>
        <span class="text">React</span>
      </div>
      <div class="skill-list-content"
           th-accordion-content>
        <p l18n>
          SKILL_REACT
        </p>
        <p>
          <i class="icon-github"></i>
          <a target="_blank" href="https://github.com/tristanhamel/react-finance-app">
            <span>React Finance App</span></a>
        </p>
      </div>
    </div>

    <!--WEBPACK-->
    <div class="skills-list-elem"
         hearts="5"
         th-accordion-section>
      <div class="skill-list-header"
           th-accordion-header>
        <span class="text">Webpack</span>
      </div>
      <div class="skill-list-content"
           th-accordion-content>
        <p l18n>
          SKILL_WEBPACK
        </p>
        <p>
          <i class="icon-github"></i>
          <a target="_blank" href="https://github.com/tristanhamel/react-finance-app">
            <span>React Finance App</span></a>
        </p>
      </div>
    </div>

    <!--VUE-->
    <div class="skills-list-elem"
         hearts="3"
         th-accordion-section>
      <div class="skill-list-header"
           th-accordion-header>
        <span class="text">Vue.js</span>
      </div>
      <div class="skill-list-content"
           th-accordion-content>
        <p l18n>
          SKILL_VUE
        </p>
        <p>
          <i class="icon-github"></i>
          <a target="_blank" href="https://github.com/tristanhamel/vue_trivia_game">
            <span>Vue Trivia Game</span></a>
        </p>
      </div>
    </div>

    <!--ANGULAR 2-->
    <div class="skills-list-elem"
         hearts="5"
         th-accordion-section>
      <div class="skill-list-header"
           th-accordion-header>
        <span class="text">Angular2+</span>
      </div>
      <div class="skill-list-content"
           th-accordion-content
           l18n>
        SKILL_NG2
      </div>
    </div>

    <!--TYPESCRIPT-->
    <div class="skills-list-elem"
         hearts="5"
         th-accordion-section>
      <div class="skill-list-header"
           th-accordion-header>
        <span class="text">Typescript</span>
      </div>
      <div class="skill-list-content"
           th-accordion-content l18n>
        SKILL_TS
      </div>
    </div>

    <!--TYPESCRIPT-->
    <div class="skills-list-elem"
         hearts="5"
         th-accordion-section>
      <div class="skill-list-header"
           th-accordion-header>
        <span class="text">SVG</span>
      </div>
      <div class="skill-list-content"
           th-accordion-content>
        <p l18n>
          SKILL_SVG
        </p>
        <p>
          <i class="icon-github"></i>
          <a target="_blank" href="https://github.com/tristanhamel/fip-player">
            <span>FIP Player</span></a>
        </p>
      </div>
    </div>

    <!--NODE-->
    <div class="skills-list-elem"
         hearts="5"
         th-accordion-section>
      <div class="skill-list-header"
           th-accordion-header>
        <span class="text">Node.js</span>
      </div>
      <div class="skill-list-content"
           th-accordion-content>
        <p l18n>
          SKILL_NODE
        </p>
        <p>
          <i class="icon-github"></i>
          <a target="_blank" href="https://github.com/tristanhamel/fip-player">
            <span>FIP Player</span></a>
        </p>
      </div>
    </div>

    <!--SASS-->
    <div class="skills-list-elem"
         hearts="5"
         th-accordion-section>
      <div class="skill-list-header"
           th-accordion-header>
        <span class="text">Sass</span>
      </div>
      <div class="skill-list-content"
           th-accordion-content l18n>
        SKILL_SASS
      </div>
    </div>

    <!--ANGULAR JS-->
    <div class="skills-list-elem"
         hearts="4"
         th-accordion-section>
      <div class="skill-list-header"
           th-accordion-header>
        <span class="text">AngularJS</span>
      </div>
      <div class="skill-list-content"
           th-accordion-content>
        <p l18n>
          SKILL_NG
        </p>
        <p>
          <i class="icon-github"></i>
          <a target="_blank" href="https://github.com/tristanhamel/cehavre">
            <span>Ce Havre qui t'appelle</span>
          </a>
          <span>(it's old)</span>
        </p>
      </div>
    </div>

    <!--MATERIAL_UI-->
    <div class="skills-list-elem"
         hearts="3"
         th-accordion-section>
      <div class="skill-list-header"
           th-accordion-header>
        <span class="text">Material-ui, Bootstrap, Foundation, ...</span>
      </div>
      <div class="skill-list-content"
           th-accordion-content>
        <p l18n>
          SKILL_FW
        </p>
        <p>
          <i class="icon-github"></i>
          <a target="_blank" href="https://github.com/tristanhamel/react-finance-app">
            <span>React Finance App</span></a>
        </p>
      </div>

    </div>

  </div>
</div>