<div class="skills">
  <div class="skills-title">
    <h2>Skills</h2>
  </div>
  <div class="skills-intro">
    <p>Bar charts are meaningless. What about hearts instead? Let's still list things in (subjective) order of proficiency. =)</p>
  </div>

  <div class="skills-list"
       th-accordion>
      <div class="skills-list-elem"
          hearts="4"
          th-accordion-header>
        <div class="skill-list-header">
          <span class="text">AngularJS</span>
        </div>
      </div>
      <div class="skill-list-content"
           th-accordion-content>
        AngularJs is cool!
      </div>

      <div class="skills-list-elem" hearts="5"><span class="text">Sass</span></div>
      <div class="skills-list-elem" hearts="5"><span class="text">ES6</span></div>
      <div class="skills-list-elem" hearts="2"><span class="text">Jquery</span></div>
      <div class="skills-list-elem" hearts="5"><span class="text">Webpack</span></div>
      <div class="skills-list-elem" hearts="3"><span class="text">Gulp</span></div>
      <div class="skills-list-elem" hearts="5"><span class="text">Angular2+</span></div>
      <div class="skills-list-elem" hearts="5"><span class="text">TypeScript</span></div>
      <div class="skills-list-elem" hearts="5"><span class="text">Node.js</span></div>
      <div class="skills-list-elem" hearts="3"><span class="text">Bootstrap, Foundation, MaterialJs, ...</span></div>
      <div class="skills-list-elem" hearts="1"><span class="text">Grunt</span></div>
      <div class="skills-list-elem" hearts="1"><span class="text">Bower</span></div>
  </div>
</div>