
<h2 class="section-title" l18n>SKILLS_TITLE</h2>

<div class="section-content">
  <div class="skills-intro">
    <p l18n>SKILL_DESC</p>
  </div>

  <div class="skills-list"
       th-accordion>

    <div class="skills-list-elem"
         hearts="4"
         th-accordion-section>
      <div class="skill-list-header"
           th-accordion-header>
        <span class="text">AngularJS</span>
      </div>
      <div class="skill-list-content"
           th-accordion-content l18n>
        SKILL_NG
      </div>
    </div>

    <div class="skills-list-elem"
         hearts="5"
         th-accordion-section>
      <div class="skill-list-header"
           th-accordion-header>
        <span class="text">Sass</span>
      </div>
      <div class="skill-list-content"
           th-accordion-content l18n>
        SKILL_SASS
      </div>
    </div>

    <div class="skills-list-elem"
         hearts="5"
         th-accordion-section>
      <div class="skill-list-header"
           th-accordion-header>
        <span class="text">ES6</span>
      </div>
      <div class="skill-list-content"
           th-accordion-content l18n>
        SKILL_ES6
      </div>
    </div>

    <div class="skills-list-elem"
         hearts="2"
         th-accordion-section>
      <div class="skill-list-header"
           th-accordion-header>
        <span class="text">Jquery</span>
      </div>
      <div class="skill-list-content"
           th-accordion-content
           l18n>
        SKILL_JQ
      </div>
    </div>

    <div class="skills-list-elem"
         hearts="5"
         th-accordion-section>
      <div class="skill-list-header"
           th-accordion-header>
        <span class="text">Webpack</span>
      </div>
      <div class="skill-list-content"
           th-accordion-content l18n>
        SKILL_WEBPACK
      </div>
    </div>

    <div class="skills-list-elem"
         hearts="3"
         th-accordion-section>
      <div class="skill-list-header"
           th-accordion-header>
        <span class="text">Gulp</span>
      </div>
      <div class="skill-list-content"
           th-accordion-content
           l18n>
        SKILL_GULP
      </div>
    </div>

    <div class="skills-list-elem"
         hearts="5"
         th-accordion-section>
      <div class="skill-list-header"
           th-accordion-header>
        <span class="text">Angular2+</span>
      </div>
      <div class="skill-list-content"
           th-accordion-content
           l18n>
        SKILL_NG2
      </div>
    </div>

    <div class="skills-list-elem"
         hearts="5"
         th-accordion-section>
      <div class="skill-list-header"
           th-accordion-header>
        <span class="text">Typescript</span>
      </div>
      <div class="skill-list-content"
           th-accordion-content l18n>
        SKILL_TS
      </div>
    </div>

    <div class="skills-list-elem"
         hearts="5"
         th-accordion-section>
      <div class="skill-list-header"
           th-accordion-header>
        <span class="text">Node.js</span>
      </div>
      <div class="skill-list-content"
           th-accordion-content l18n>
        SKILL_NODE
      </div>
    </div>

    <div class="skills-list-elem"
         hearts="3"
         th-accordion-section>
      <div class="skill-list-header"
           th-accordion-header>
        <span class="text">Bootstrap, Foundation, ...</span>
      </div>
      <div class="skill-list-content"
           th-accordion-content l18n>
        SKILL_FW
      </div>
    </div>

    <div class="skills-list-elem"
         hearts="3"
         th-accordion-section>
      <div class="skill-list-header"
           th-accordion-header>
        <span class="text">Jasmine</span>
      </div>
      <div class="skill-list-content"
           th-accordion-content l18n>
        SKILL_JASMINE
      </div>
    </div>

    <div class="skills-list-elem"
         hearts="5"
         th-accordion-section>
      <div class="skill-list-header"
           th-accordion-header>
        <span class="text">Redux</span>
      </div>
      <div class="skill-list-content"
           th-accordion-content l18n>
        SKILL_REDUX
      </div>
    </div>
  </div>
</div>