@import '../../styles/vars';

.intro {
  display: flex;
  position: relative;
  background: url("../../images/itse_bw_480x160-min.png");
  height: 10rem;
  width: 100%;

  @include respond-to('medium') {
    background: url("../../images/itse_bw_990x240-min.png");
    height: 15rem;
  }

  @include respond-to('large') {
    background: url("../../images/itse_bw_400x2500-min.png");
    height: 25rem;
  }

  .spacer {
    flex-shrink: 2;
    width: 10rem;

    @include respond-to('medium') {
      width: 12rem;
    }

    @include respond-to('large') {
      width: 20rem;
    }
  }

  .content {
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    flex-shrink: 1;
    padding-top: 2rem;
    display: flex;
    width: 35rem;

    @include respond-to('large') {
      padding-top: 7rem;
      width: 38rem;
    }
  }

  .title {
    background: $emphasis-color;
    color: $white;
    margin: 1rem 1rem 1rem 2rem;
    padding: 0.5rem;
    transform: skew(-10deg);

    @include respond-to('medium') {
      font-size: 30px;
      line-height: 30px;
    }

    @include respond-to('large') {
      font-size: $font-xx-large;
      line-height: $font-xx-large;
    }
  }

  .subtitle {
    background: $dark-gray;
    color: $white;
    margin-left: 1rem;
    padding: 0.5rem;

    @include respond-to('large') {
      font-size: $font-x-large;
      line-height: $font-x-large;
    }
  }
}