
<h2 class="section-title" l18n>EXP_TITLE</h2>

<div class="section-content">
  <div class="experience-section">
    <div class="experience-section-title">
      <span class="experience-date">2017-2018:&nbsp;</span>
      <span class="experience-item">
      <span l18n>EXP_7</span>
      @<a href="https://http://play.playster.com//">Playster.com</a>
    </span>
    </div>
    <ul class="experience-desc">
      <li l18n>EXP_7_DESC_1</li>
      <li l18n>EXP_7_DESC_2</li>
      <li l18n>EXP_7_DESC_3</li>
      <li l18n>EXP_7_DESC_4</li>
    </ul>
  </div>

  <div class="experience-section">
    <div class="experience-section-title">
      <span class="experience-date">2016-2017:&nbsp;</span>
      <span class="experience-item">
        <span l18n>EXP_1</span>
        @<a href="https://www.sanakirja.fi/">Sanakirja.fi</a>
      </span>
    </div>
    <ul class="experience-desc">
      <li l18n>EXP_1_DESC_1</li>
      <li l18n>EXP_1_DESC_2</li>
      <li l18n>EXP_1_DESC_3</li>
      <li l18n>EXP_1_DESC_4</li>
      <li l18n>EXP_1_DESC_5</li>
    </ul>
  </div>

  <div class="experience-section">
    <div class="experience-section-title">
      <span class="experience-date">2015-2016:&nbsp;</span>
      <span class="experience-item" l18n>EXP_2</span>
    </div>
    <p class="experience-desc">
      <span l18n>EXP_2_DESC_1</span>
      <a href="https://cehavrequitappelle.fr/" l18n>EXP_2_DESC_2</a>,
      <span l18n>EXP_2_DESC_3</span>
    </p>
  </div>

  <div class="experience-separator">
    ...
  </div>

  <div class="experience-section">
    <div class="experience-section-title">
      <span class="experience-date">2013-2014:&nbsp;</span>
      <span class="experience-item" l18n>EXP_3</span>
    </div>
  </div>

  <div class="experience-section">
    <div class="experience-section-title">
      <span class="experience-date">2010-2013:&nbsp;</span>
      <span class="experience-item" l18n>EXP_4</span>
    </div>
  </div>

  <div class="experience-section">
    <div class="experience-section-title">
      <span class="experience-date">2008-2010:&nbsp;</span>
      <span class="experience-item" l18n>EXP_5</span>
    </div>
  </div>

  <div class="experience-section">
    <div class="experience-section-title">
      <span class="experience-date">2001-2008:&nbsp;</span>
      <span class="experience-item" l18n>EXP_6</span>
    </div>
  </div>
</div>