<div class="experience">
  <h2 class="experience-title">Experience</h2>

  <div class="experience-section">
    <h3>2016-2017</h3>
    <p>Web developer and then Senior web developer @ Kielikone Oy</p>
    <p>In charge of the whole frontend development in AngularJS. Migrated codebase from ES5 to ES6 and build processes from Grunt to Webpack. Heavily optimized performance (bundling, lazy loading, reduce dependency exposure). </p>
  </div>

  <div class="experience-section">
    <h3>2015-2016</h3>
    <p>Freelance web developer</p>
    <p>Small freelance projects mostly based on Wordpress. In the last project, I built an Angular frontend and served content via Wordpress REST api.</p>
  </div>

  <div class="experience-separator">
    ...
  </div>

  <div class="experience-section">
    <h3>2013-2014</h3>
    <p>Independent visual artist and doctoral candidate in Fine Arts</p>
  </div>

  <div class="experience-section">
    <h3>2010-2013</h3>
    <p>Master student in Fine Arts</p>
  </div>

  <div class="experience-section">
    <h3>2008-2010</h3>
    <p>Economic advisor to the French ambassador in Finland</p>
  </div>

  <div class="experience-section">
    <h3>2001-2008</h3>
    <p>2 master degrees (see Educaction), postman, seasonal worker in agriculture, and a bunch of other things</p>
  </div>
</div>