
<h2 class="section-title">Experience</h2>

<div class="section-content">
  <div class="experience-section">
    <div class="experience-section-title">
      <span class="experience-date">2016-2017:&nbsp;</span>
      <span class="experience-item">Web developer and then Senior web developer @<a href="https://www.sanakirja.fi/">Sanakirja.fi</a></span>
    </div>
    <p class="experience-desc">In charge of the whole frontend development in AngularJS. Migrated codebase from ES5 to ES6 and build processes from Grunt to Webpack. Integrated Redux. Heavily optimized performance (bundling, lazy loading, reduce dependency exposure). </p>
  </div>

  <div class="experience-section">
    <div class="experience-section-title">
      <span class="experience-date">2015-2016:&nbsp;</span>
      <span class="experience-item">Freelance web developer</span>
    </div>
    <p class="experience-desc">Freelance projects mostly based on Wordpress. In the <a
      href="https://cehavrequitappelle.fr/">last project</a>, I built an Angular frontend and served content via Wordpress REST api.</p>
  </div>

  <div class="experience-separator">
    ...
  </div>

  <div class="experience-section">
    <div class="experience-section-title">
      <span class="experience-date">2013-2014:&nbsp;</span>
      <span class="experience-item">Independent visual artist and doctoral candidate in Fine Arts</span>
    </div>
  </div>

  <div class="experience-section">
    <div class="experience-section-title">
      <span class="experience-date">2010-2013:&nbsp;</span>
      <span class="experience-item">Master student in Fine Arts</span>
    </div>
  </div>

  <div class="experience-section">
    <div class="experience-section-title">
      <span class="experience-date">2008-2010:&nbsp;</span>
      <span class="experience-item">Economic advisor to the French ambassador in Finland</span>
    </div>
  </div>

  <div class="experience-section">
    <div class="experience-section-title">
      <span class="experience-date">2001-2008:&nbsp;</span>
      <span class="experience-item">2 master degrees (see Educaction), postman, seasonal worker in agriculture, and a bunch of other things</span>
    </div>
  </div>
</div>