<h2 class="section-title">Benefits</h2>

<div class="section-content">
  <p> Experience and education is good and well. Still, I think that a good developer benefits from a wide breadth of knowledge, one extending beyond purely technical skills. A developer does not work in an isolated bubble and should be able to translate technical aspects into language understandable to non-technical stakeholders, and vice-versa. Similarly, front end development involves not only writing good code but also be aware of its visual output and understanding the context in which the app is to be used. I believe this is what might set me apart from many. My background might be unusual but this is what makes me flexible, able to efficiently communicate with various stakeholders, learn fast and, at the end of the day, be a better programmer.</p>
  <p> Now you reached the bottom of the page. Congratulations! If you are not overwhelmed with skepticism and believe I could benefit your team, please reach out. This might be a match!</p>

</div>