@import '../../styles/vars.scss';

.contacts {
  color: $white;
  position: absolute;

  @include respond-to('large') {
    margin-left: 20rem;
  }

  .container {
    padding: 0 1rem;
  }

  .contacts-line {
    padding: 0.2rem 0;

    span:first-of-type {
      margin-right: 0.5em;
    }
  }

  .contacts-title {
    @include respond-to('large') {
      display: none;
    }
  }

  .contacts-social {
    display: flex;
    justify-content: space-around;
    padding: 0.2rem 0;
  }

  .contacts-toggle {
    align-items: center;
    background: $dark-gray;
    border-radius: 50%;
    bottom: 0;
    box-shadow: black 0 0 2px;
    cursor: pointer;
    display: none;
    justify-content: center;
    height: 3rem;
    margin: 0.5rem;
    position: fixed;
    right: 0;
    width: 3rem;

  }

  &.fixed {
    position: fixed;
    top: 0;
    height: 100vh;
    z-index: 100;

    @include respond-to('large') {
      bottom: 1rem;
      height: auto;
      justify-content: flex-start;
      margin-left: 0;
      top: auto;
      width: auto;
      z-index: 200;
    }

    .contacts-toggle {
      display: flex;

      @include respond-to('large') {
        display: none;
      }
    }

    .container {
      background: $dark-gray;
      display: none;
      height: 100%;

      @include respond-to('large') {
        background: transparent;
        display: block;
      }
    }

    &.visible {
      width: 100%;

      .container {
        display: block;
      }
    }
  }
}