<div class="contacts">
  <div class="container">
    <div class="contacts-line down-link">
      <i class="icon-file-pdf"></i>
      <a href="bar download"><span l18n>DOWNLOAD_AS_PDF</span></a>
    </div>
    <div class="contacts-line">
      <i class="icon-phone"></i>
      <span><a href="tel:+358440770544">+358 440 770 544</a></span>
    </div>
    <div class="contacts-line">
      <i class="icon-mail"></i>
      <span><a href="mailto:tristan.hamel@laposte.net">tristan.hamel@laposte.net</a></span>
    </div>
    <div class="contacts-social">
      <a href="https://github.com/tristanhamel">
        <i class="icon-github"></i>
        <span class="link-text">https://github.com/tristanhamel</span>
      </a>
      <a href="https://www.linkedin.com/in/tristan-hamel-9656a0107/">
        <i class="icon-linkedin"></i>
        <span class="link-text">https://www.linkedin.com/in/tristan-hamel-9656a0107/</span>
      </a>
    </div>
  </div>
</div>