<div class="contacts">
  <div class="container">
    <div class="contacts-line down-link">
      <i class="icon-print"></i>
      <a class="print-action"><span l18n>PRINT_FRIENDLY</span></a>
    </div>
    <div class="contacts-group">
      <div class="contacts-line">
        <i class="icon-phone"></i>
        <span><a href="tel:+15142248236">+1-514-224-8236</a></span>
      </div>
      <div class="contacts-line">
        <i class="icon-mail"></i>
        <span><a href="mailto:hamel.tristan@laposte.net">hamel.tristan@laposte.net</a></span>
      </div>
    </div>
    <div class="contacts-social">
      <a href="https://github.com/tristanhamel">
        <i class="icon-github"></i>
        <span class="link-text">https://github.com/tristanhamel</span>
      </a>
      <a href="https://www.linkedin.com/in/tristan-hamel-9656a0107/">
        <i class="icon-linkedin"></i>
        <span class="link-text">https://www.linkedin.com/in/tristan-hamel-9656a0107/</span>
      </a>
    </div>
  </div>
</div>