@import '../../styles/vars';

$plus-sign-wh: 1.2rem;
$plus-sign-padding: 0.5rem;

[th-accordion-section] {
  border: solid rgba($white, 0.8);
  border-width: 1px 0 0 0;
}

[th-accordion-content] {
  background: $pale-gray;
  display: none;
  padding: 0.5rem 0 1rem 1rem;
}

[th-accordion-header] {
  position: relative;
  color: $black;
  cursor: pointer;
  display: flex;
  padding: 0.5rem 3rem 0.5rem 0.5rem;
  transition: background 0.2s;

  &:hover {
    background: $pale-gray;
  }

  &:after {
    content: '\e803';
    color: $emphasis-color;
    font-family: 'fontello';
    font-size: $plus-sign-wh;
    line-height: $plus-sign-wh;
    position: absolute;
    right: $plus-sign-padding;
    transition: transform 0.3s;
    transform: rotate(45deg);
    top: calc(50% - #{$plus-sign-wh/2});
  }
}

.accordion-expanded [th-accordion-header]{
  background: $pale-gray;
}

[th-accordion-section].accordion-expanded [th-accordion-header]:after {
    transform: rotate(0deg);
}